header {
  background: #bbbbbb;
  padding: 20px 0;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

.produtos {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 10px;
}

.produtos li:hover {
  border-color: #c78c19;
}

.produtos li:active {
  border-color: #088c19;
}

.produtos li:hover h2 {
  font-size: 34px;
}

.produtos h2 {
  font-size: 30px;
  font-weight: bold;
}

.produto-descricao {
  font-size: 18px;
}

.produto-preco {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

footer {
  text-align: center;
  background: url("bg.jpg");
  padding: 40px 0;
}

.copyright {
  color: #ffffff;
  font-size: 13px;
  margin: 20px 0 0;
}

/* Página de contato */
.corpo-contato {
  margin: 20px;
}

form {
  margin: 40px 0;
}

form label,
form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 2px;
}

.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
  border-radius: 25px;
  box-shadow: 0 0 10px rgb(185, 185, 185);
}

.contato {
  width: 940px;
  margin: 40px auto;
}

.checkbox {
  margin: 20px 0;
}

.enviar {
  width: 40%;
  padding: 15px 0;
  background: orange;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  box-shadow: #000000;
  transition: 1s all;
  cursor: pointer;
}

.enviar:hover {
  background: darkorange;
  color: aliceblue;
  transform: scale(1.05);
}

table {
  margin: 20px 40px;
}

thead {
  background: #7e7c7c;
  color: #ffffff;
  font-weight: bold;
}

td,
th {
  border: 1px solid #000000;
  padding: 8px 15px;
}

/* Página de inicial */

body {
  font-family: "Montserrat", sans-serif;
}

.banner {
  width: 100%;
}

.titulo-principal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
  color: rgba(0, 0, 0, 0.3);
}

.principal {
  padding: 3em 0;
  background: #fefefe;
  width: 940px;
  margin: 0 auto;
}

.principal p {
  margin: 0 0 1em;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}

.utensilios {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}

.mapa {
  padding: 3em 0;
  background: linear-gradient(#fefefe, #888888);
}

.mapa-conteudo {
  width: 940px;
  margin: 0 auto;
  transition: 400ms;
  opacity: 0.5;
}

.mapa-conteudo:hover {
  opacity: 1;
}

.mapa p {
  margin: 0 0 2em;
  text-align: center;
}

.beneficios {
  padding: 3em 0;
  background: #888888;
}

.conteudo-beneficios {
  width: 640px;
  margin: 0 auto;
}

.imagem-beneficios {
  width: 60%;
  float: right;
  box-shadow: 0px 0px 15px 5px rgb(28 28 28 / 90%);
}

.lista-beneficios {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.itens {
  line-height: 1.5;
}

.itens:before {
  content: "★ ";
}

.video {
  width: 560px;
  margin: 2em auto;
  padding: 3em 0;
  clear: both;
}
@media screen and (max-width: 480px) {
  .caixa,
  .principal,
  .conteudo-beneficios,
  .mapa-conteudo,
  .video,
  .produtos {
    width: auto;
  }

  h1 {
    text-align: center;
  }
  nav {
    position: static;
  }
  .utensilios {
    display: none;
  }
  .corpo-principal {
    margin: 15px;
    text-align: justify;
  }

  .lista-beneficios {
    width: 100%;
  }
  .imagem-beneficios {
    width: 95%;
    padding: 10px;
    box-shadow: none;
  }

  .itens {
    padding: 1.5px;
    margin-left: 10px;
  }
  .video {
    width: 95%;
    margin-right: 0px;
  }

  .corpo-section {
    text-align: center;
    font-weight: bold;
  }

  .corpo-section input,
  .corpo-section textarea {
    width: 85%;
  }
  .enviar {
    width: 100%;
  }
  .preferencia {
    margin-bottom: 20px;
  }
  table {
    width: 90%;
    text-align: center;
    margin: auto;
  }
  .produtos li {
    display: block;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
  }

  .produtos img {
    width: 70%;
  }
}
